name: intro
description: A step-by-step wizard, which can help you to introduce your product or to demonstrate the usage of your application.
version: 1.2.3
homepage: "https://github.com/YowFung/intro"

environment:
  sdk: ">=2.17.5 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
